
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
        font-family: 'Playfair Display', serif;
        background-color: #f8f9fa;
        color: #333;
        }
        #header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 80px;
            background-color: white;
            z-index: 1000; 
            display: flex; /* Căn các phần tử trên cùng một hàng */
            align-items: center; /* Căn giữa theo chiều dọc */
            justify-content: space-between; /* Đẩy logo và menu về hai phía */
            padding: 0 20px; /* Thêm padding để không bị dính vào lề */

        }
        #header h1 {
            margin-top: 10px;
        }
       
        #nav{
            margin-bottom: 0px;
            text-align: right ;
        }
        #nav li{
            
            margin-top: 0px 0;
            display: inline-block;
            
        }
        #nav li a{
            color: black;
            text-decoration: none;
            padding: 12px  10px;
            margin-left: 20px;
            font-size: 15px;
            
        }
        #nav li:hover a{
            color: white;
            background-color: #458;
            border-radius: 5px;
        } 
        #nav li a.active {
            color: white;
            background-color: #458;
            border-radius: 5px;
        }
        
        #slider {
            margin-top: 55px;
            position: relative;
            max-width: 100%;
            min-height: 620px;
            overflow: hidden;
            background-color: white;
        }

        #slider img {
            /* width: 100%; */
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover; 
            height: 100%;
        }

        #slider img.active {
            display: block;
            opacity: 1;
            z-index: 1;
        }

       



    #content {
        background-color: #f8f9fa;
        
    } 
    

    #content .container {
        max-width: 100%;
        
    }
    .thanhvien-img{
        width: 100%;
        height: 650px;
       
    }
    #tongQuanChuongTrinh, 
    #boNhanDien, 
    #kichBanSoBo, 
    #soDoSanKhau, 
    #timeLine, 
    #doiNgoai, 
    #duTruRuiRo {
    scroll-margin-top: 80px; 
}


    /* hiệu ứng chuyển hình */
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        padding: 0px 0; /* Tạo khoảng cách phía trên và dưới */
    }
    
    .image-wrapper {
        position: relative;
        width: 100%; /* Chiếm 90% chiều rộng của container */
        max-width: 1065px; /* Giới hạn tối đa để tránh quá lớn */
        
    }
    
    .slider-img {
        width: 100%;
        height: 600px; /* Giữ tỷ lệ hình ảnh */
        max-height: 700px; /* Giới hạn chiều cao */
        /* object-fit: contain; */
        transition: opacity 0.3s ease-in-out;
        display: block;
    }
    
    /* Nút điều hướng */
    .arrow-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 12px 14px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s, transform 0.2s;
    }
    
    /* Hiệu ứng hover */
    .arrow-btn:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-50%) scale(1.1);
    }
    
    /* Nút bên trái */
    .left {
        left: -75px; /* Đẩy ra ngoài mép trái ảnh */
    }
    
    /* Nút bên phải */
    .right {
        right: -75px; /* Đẩy ra ngoài mép phải ảnh */
    }


  
    .slider-container {
        position: relative;
        width: 100%;
        height: 600px; /* Chỉ giữ lại dòng này */
        overflow: hidden;
    }

    .slider-container img {
        position: absolute;
        width: 100%;
        height: 600px;
        object-fit: contain;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    .slider-container img.active {
        opacity: 1;
    }
    .quakhachmoi img{
        max-width: 1065px;
        display: block;
        margin: 0 auto;
    }

    /* kichbansobo */
    .arrow-btn1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 12px 14px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s, transform 0.2s;
    }
    
    /* Hiệu ứng hover */
    .arrow-btn1:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-50%) scale(1.1);
    }
    
    /* Nút bên trái */
    .left {
        left: -55px; /* Đẩy ra ngoài mép trái ảnh */
    }
    
    /* Nút bên phải */
    .right {
        right: -55px; /* Đẩy ra ngoài mép phải ảnh */
    }
    .sodo img{
        max-width: 1065px;
        display: block;
        margin: 0 auto;
    }
    /* phóng to ảnh */
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1000; 
        padding: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8); /* Màu nền tối */
    }
    
    /* Hiển thị ảnh trong modal */
    .modal-content {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    /* Nút đóng */
    .close {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 40px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    #thumbnail {
        cursor: pointer; /* Hiển thị con trỏ bàn tay khi di chuột vào ảnh */
    }

    /* timeline */
    .arrow-btn2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 12px 14px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s, transform 0.2s;
    }
    
    /* Hiệu ứng hover */
    .arrow-btn2:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-50%) scale(1.1);
    }


    
    
    /* Ảnh trong modal */
    .modal1 {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    
    /* Ảnh trong modal */
    .modal-content1 {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }
    
    /* Nút đóng */
    .close1 {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    /* truyền thông */

    .arrow-btn3 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 12px 14px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s, transform 0.2s;
    }
    
    /* Hiệu ứng hover */
    .arrow-btn3:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-50%) scale(1.1);
    }
    .modal2 {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    
    /* Ảnh trong modal */
    .modal-content2 {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }
    
    /* Nút đóng */
    .close2 {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    /* số thứ tự */
    .image-counter {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.1);
        color: white;
        padding: 0px 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    
    /* Đánh số ảnh lớn */
    .modal-counter {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.1);
        color: white;
        padding: 0px 12px;
        border-radius: 5px;
        font-size: 16px;
    }

    
    /* quản trị rủi ro */
    .arrow-btn4 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 12px 14px;
        cursor: pointer;
        border-radius: 50%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        transition: 0.3s, transform 0.2s;
    }
    
    /* Hiệu ứng hover */
    .arrow-btn4:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-50%) scale(1.1);
    }
    .modal3 {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    
    /* Ảnh trong modal */
    .modal-content3 {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }
    
    /* Nút đóng */
    .close3 {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    #footer {
        background-color: rgb(105, 129, 201);
        color: black;
        text-align: center;
        padding: 20px 0;
        font-size: 0.9rem;
    }

    #footer a {
        color: black;
        text-decoration: none;
        margin: 0 10px;
    }

    #footer a:hover {
        text-decoration: underline;
         color: black;
        background-color: #458;
        border-radius: 5px;
    }

    .footer-container p {
        margin: 10px 0;
    }
   